body {
    font-family: 'Roboto', sans-serif;
    color: #002366;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #002366;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
    margin: 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #002366;
}

h3 {
    font-size: 1.5rem;
    color: #002366;
}

section {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

article {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #F0F0F0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #002366;
    color: #FFFFFF;
    text-align: center;
    padding: 5px 10px;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    line-height: 1.2;
}

a {
    text-decoration: none;
    font-weight: bold;
}

.navigation a {
    color: #FFD700;
}

a[href^="tel:"],
a[href^="mailto:"] {
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

.navigation {
    margin-top: 10px;
}

.navigation a {
    margin: 0 10px;
    color: #FFD700;
}

.content {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.social-icons img {
    width: 32px;
    height: 32px;
    padding: 20px;
}