<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>Authors</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container my-5">
        <h2>Авторы</h2>
        <div class="mb-3">
            <a th:href="@{/mvc/authors/add}" class="btn btn-success">Добавить автора</a>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="author : ${authorsPage.items}">
                <td th:text="${author.id}"></td>
                <td th:text="${author.name}"></td>
                <td>
                    <a th:href="@{/mvc/authors/edit/{id}(id=${author.id})}" class="btn btn-primary btn-sm">Редактировать</a>
                    <form th:action="@{/mvc/authors/delete/{id}(id=${author.id})}" method="post" style="display:inline;"
                          onsubmit="return confirm('Вы уверены, что хотите удалить этого автора?');">
                        <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-center align-items-center mt-4">
            <a th:href="@{/mvc/authors(page=${authorsPage.currentPage - 2}, size=${pageSize})}"
               th:classappend="${!authorsPage.hasPreviousPage} ? 'disabled' : ''"
               class="btn btn-secondary">
                Предыдущая
            </a>
            <span class="mx-3"
                  th:text="'Страница ' + ${authorsPage.currentPage} + ' из ' + ${authorsPage.totalPages}"></span>
            <a th:href="@{/mvc/authors(page=${authorsPage.currentPage}, size=${pageSize})}"
               th:classappend="${!authorsPage.hasNextPage} ? 'disabled' : ''"
               class="btn btn-secondary">
                Следующая
            </a>
            <div class="ms-4">
                <label for="pageSizeSelect" class="form-label me-2">
                    Авторов на странице:
                </label>
                <select id="pageSizeSelect" class="form-select w-auto d-inline-block" onchange="changePageSize(this.value)">
                    <option th:each="sizeOpt : ${new int[]{5, 10, 15}}"
                            th:value="${sizeOpt}"
                            th:text="${sizeOpt}"
                            th:selected="${sizeOpt == pageSize}"></option>
                </select>
            </div>
        </div>

        <script>
            function changePageSize(size) {
                window.location.href = '/mvc/authors?page=0&size=' + size;
            }
        </script>
    </div>
</section>
</body>
</html>
